[Unit]
Description=Steam's brightness slider on both screens in Game Mode (AYN Thor)
PartOf=gamescope-session.target
After=gamescope-session.service

[Service]
ExecStart=/usr/lib/kettle/game-brightness
Restart=on-failure
RestartSec=2
